.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popupBox {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation: fadeInScale 0.3s ease-in-out;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      background-color: white;
      padding: 0 5px;
      margin-left: 5px;
      margin-bottom: -10px;
      z-index: 1;
      width: fit-content;
    }

    input,
    textarea {
      font-size: 16px;
      padding: 5px 7px;
      margin-bottom: 20px;
      box-sizing: border-box;

      &.invalid {
        border: 2px solid #d83b01;
      }
    }
  }

  .download-selection {
    display: flex;
    gap: 10px;
    justify-content: stretch;
    margin-bottom: 20px;

    .input {
      display: flex;
      flex-direction: column;
      width: 75%;

      input {
        margin: 0;
      }
    }

    .gallery-picker {
      flex: 1 1 10px;
      margin-top: 7px;
      padding: 10px 0;
      text-align: center;
      border: 2px solid #3f3f3f;
      color: #3f3f3f;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.popup-subtitle {
  font-size: 16px;
  color: #666;
  margin: 0 0 20px 0;
}

.popup-actions {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 0;

  .sdl-btn {
    min-width: 150px;
    margin: 0;

    &.cancel-btn {
      background-color: #aa4d00;
      margin-right: 10px;
    }
    &.save-btn {
      background-color: #0078d4;
    }
  }
}
