@use "./popup";

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

.sdl-btn {
  padding: 10px 20px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  background-color: #0078d4;
  color: white;
  cursor: pointer;

  &.add-btn {
    float: right;
    margin-bottom: 20px;
    min-width: 250px;
    font-size: 16px;
  }
  &.edit-btn {
    background-color: #0078d4;
  }
  &.delete-btn {
    background-color: #d83b01;
  }
}

button:hover {
  background-color: #005fa3;
}

button.delete {
  background-color: #d83b01;
}

button.delete:hover {
  background-color: #a4262c;
}
