/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 
#neofix_sdl_search {
	width: 100%;
	font-size: 16px;
	padding: 12px 30px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#neofix_sdl{

	table{
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;

		tr{
			border: 1px solid #ddd;
			padding: .35em;
		}

		th, td{
			padding: .625em;
			text-align: center;
			vertical-align: top;
		}

		th{
			background-color: #4472C4;
			color: white;
			font-size: .95em;
			letter-spacing: .1em;
			text-transform: uppercase;
		}
	}

	.column_1{
		font-weight: bold;
		font-size: 0.9em;
	}

	.column_2{
		font-size: 0.8em;
		text-align: left;
	}

	.column_3{
		text-align: right;
	}

	.sdl_download{
		background-color: #4CAF50;
		border: none;
		border-radius: 4px;
		color: white;
		padding: 12px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
	}

	@media screen and (max-width: 600px) {
		table{
			border: 0;

			caption{
				font-size: 1.3em;
			}

			thead{
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			tr{
				border-bottom: 3px solid #ddd;
				display: block;
				margin-bottom: .625em;
			}

			td{
				border-bottom: 1px solid #ddd;
				display: block;
				font-size: .8em;
				text-align: right;
			}

			.column_2{
				text-align: right;
			}

			.column_2::before{
				display: block;
		  		float: none;
				text-align: left;
			}

			td::before{
				/*
				* aria-label has no advantage, it won't be read inside a table
				content: attr(aria-label);
				*/
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}

			td:last-child{
				border-bottom: 0;
			}
		}
	}
} 